<div *ngIf="discordUser">
  <h1>{{discordUser.name}}</h1>
  <mat-tab-group>

      <mat-tab label="Timetable">
        <h2>Timetable</h2>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="From" [(ngModel)]="from" (dateChange)="update()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="To" [(ngModel)]="to" (dateChange)="update()">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <timetable [data]="discordVoiceChannelUsages"></timetable>
      </mat-tab>

      <mat-tab label="Info">
        <h2>Info</h2>
        <img src="{{discordUser.avatarUrl}}">  
      </mat-tab>

      <mat-tab label="Statistics">
        <h2>Statistics</h2>

      </mat-tab>
    </mat-tab-group>
</div>
