<mat-card *ngIf="discordUser">
  <mat-card-header>
    <img *ngIf="discordUser.avatarUrl" mat-card-avatar src="{{discordUser.avatarUrl}}">
    <img *ngIf="!discordUser.avatarUrl" mat-card-avatar ngSrc="../default.png">
    <mat-card-title>{{discordUser.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="discordUser.bot">Bot</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!discordUser.bot">User</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group (selectedTabChange)="update()">
      <mat-tab label="Info">
        <h2>Info</h2>
        <h3>User</h3>
        <p>Name: {{discordUser.name}}</p>
        <h3>Profile Picture</h3>
        <img src="{{discordUser.avatarUrl}}">
      </mat-tab>
      <mat-tab label="Timetable">
        <h2>Timetable</h2>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="From" [(ngModel)]="from" (dateChange)="update()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="To" [(ngModel)]="to" (dateChange)="update()">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <user-timetable [data]="discordVoiceChannelUsages"></user-timetable>
      </mat-tab>
      <mat-tab label="Statistics" *ngIf="discordUserStats">
        <h2>Statistics</h2>
        <table>
            <tr>
                <td>Total Connections</td>
                <td> : </td>
                <td class="right">{{discordUserStats.count}}x</td>
            </tr>
            <tr>
                <td>Total time spend</td>
                <td> : </td>
                <td class="right">{{discordUserStats.sum | SecondsToDurationStringPipe}} </td>
            </tr>
            <tr>
                <td>Average time spend</td>
                <td> : </td>
                <td class="right">{{discordUserStats.average | SecondsToDurationStringPipe}} </td>
            </tr>
            <tr>
                <td>Longest time spend</td>
                <td> : </td>
                <td class="right">{{discordUserStats.max | SecondsToDurationStringPipe}} </td>
            </tr>
        </table>
    </mat-tab>
      <mat-tab label="Guilds">
        <h2>Guilds</h2>
        <app-guild-list [guilds]="discordUser.guilds"></app-guild-list>
      </mat-tab> 
    </mat-tab-group>
  </mat-card-content>
</mat-card>
