.footer {
    text-align: right;
    margin: 2em;
}

.content {
    max-width: 1000px;
    min-height: 400px;
    margin: auto;
    margin-top: 20px;
}

.toolbar-icon {
    padding: 0 14px;
}

.toolbar-button {
    font-weight: bold;
}

.toolbar-spacer {
flex: 1 1 auto;
}
  