<mat-toolbar color="primary">
  <mat-toolbar-row>

    <span class="toolbar-icon" routerLink="/">{{ title }}</span>
    <span class="toolbar-spacer"></span>

    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/guild">Guilds</button>
    <a mat-button href="https://discordapp.com/api/oauth2/authorize?client_id=387018282093248514&permissions=8&redirect_uri=http%3A%2F%2Flocalhost%2Foauth%2Fdiscord&scope=bot">Invite</a>
    <button mat-button routerLink="/about">About</button>

  </mat-toolbar-row>
</mat-toolbar>
